<form (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-input
      name="name"
      [(ngModel)]="studentForm.name"
      label="Name"
      label-placement="floating"
      placeholder="Enter text"
      required
      minlength="3"
      helperText="Please enter your name."
      errorText="Name is required and should be at least 3 characters long."
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Age</ion-label>
    <ion-input
      type="number"
      name="age"
      [(ngModel)]="studentForm.age"
      label-placement="floating"
      placeholder="Enter text"
      required
      helperText="Please enter your age."
      errorText="Age is required."
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      name="grade"
      [(ngModel)]="studentForm.grade"
      label="Grade"
      label-placement="floating"
      placeholder="Enter text"
      required
      helperText="Please enter your Grade Point Average (GPA)."
      errorText="Grade is required."
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-select
      name="level"
      [(ngModel)]="studentForm.level"
      label="Level"
      placeholder="Make a Selection"
      required
      helperText="Please enter your level."
      errorText="Level is required."
    >
      <ion-select-option value="">No selection</ion-select-option>
      <ion-select-option value="undergrad">Undergrad</ion-select-option>
      <ion-select-option value="postgrad">Postgrad</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button type="submit">Submit</ion-button>
</form>
