<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-input
      name="name"
      formControlName="name"
      type="text"
      required
      minlength="3"
      helperText="Please enter your name."
      errorText="Name is required and should be at least 3 characters long."
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      name="age"
      formControlName="age"
      type="number"
      required
      helperText="Please enter your age."
      errorText="Age is required."
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      name="grade"
      formControlName="grade"
      type="number"
      required
      helperText="Please enter your Grade Point Average (GPA)."
      errorText="Grade is required."
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      name="level"
      formControlName="level"
      placeholder="select a level"
      required
      helperText="Please enter your level."
      errorText="Level is required."
    >
      <ion-select-option value="">No selection</ion-select-option>
      <ion-select-option value="undergrad">Undergrad</ion-select-option>
      <ion-select-option value="postgrad">Postgrad</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button type="submit" expand="block">Submit</ion-button>
</form>
