<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- slot = fixed moved the fab button over the tabs list -->
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="openForm()">
      <ion-icon name="add"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let student of students">
      <ion-label>
        <h2>{{student.name}}</h2>
        <p>{{student.age}} years old</p>
        <p>{{student.grade}} GPA</p>
        <p>{{student.level}}</p>
      </ion-label>
      <ion-button (click)="editStudent(student.id)" slot="end">
        <ion-icon name="pencil" slot="end"></ion-icon>
      </ion-button>
      <ion-button
        (click)="presentAlertConfirmDialog(student.id)"
        color="light"
        slot="end"
      >
        <ion-icon name="trash" color="danger" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
